 {{ include('categorie/_form.html.twig') }}
{#    <a href="{{ path('app_categorie_index') }}" class="btn rounded-pill btn-outline-info"> Retourner à la liste des Catégories</a>#}
 <link href="{{asset ('/css/form.css')}}" media="screen" rel="stylesheet">
