{% extends 'base.html.twig' %}

{% block title %}Edit Administrateur{% endblock %}

{% block body %}
    <h1>Edit Administrateur</h1>

    {{ include('administrateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_administrateur_index') }}">back to list</a>

    {{ include('administrateur/_delete_form.html.twig') }}
{% endblock %}
