{% extends 'backbase.html.twig' %}

{% block title %}New Livraison{% endblock %}

{% block contentback %}
    <h3 style="color: #00AA88" align="center" >Create New Livraison</h3>

    {{ include('livraison/_form.html.twig') }}

    <a href="{{ path('app_livraison_index') }}">back to list</a>
{% endblock %}
