{% extends 'backbase.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block contentback %}
    <h3 style="color: #00AA88" align="center" >Create New Reclamation</h3>

    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('app_reclamation_index') }}">back to list</a>
{% endblock %}
