{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier Publication{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{{asset('css/formcss.css')}}">

    <h1 class='text-center' style="border-color: #0c5460">Modifier Publication</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
    <input type="button"   class="btn btn-clear-g" onclick="window.location.href={{ path('app_post_indexFront') }};" value="RETOUR" />
    {{ include('post/_delete_form.html.twig', {'button_label': 'SUPPRIMER'}) }}
{% endblock %}
