@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}


body {
    background: #c3c8cb;
    background: -webkit-linear-gradient(to right, #f3f3f3, #79a993);
    background: linear-gradient(to right, #b6b6b6, #9cc4ba);
}

.wrapper {
    height: 100%;
    width: 100%;
    height: 100vh;
}

.blog_post {
    position: relative;
    padding: 6rem 3rem 6rem 6rem;
    background: #fff;
    max-width: 400px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr  ;
    gap: 0px 0px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}
.img_pod {
    height: 110px;
    width: 110px;
    background: linear-gradient(90deg, #e8dca1, rgba(94, 255, 212, 0.5));
    z-index: 0;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -40px;
    top: 50px;
    transform: translateY(-50%);
}

img {
    height: 100px;
    width: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
}

h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: #333;
}

p {
    margin: 0 0 4.5rem 0;
    font-size: 1.5rem;
    color: #333;
}
.grid-container {
    display: grid;
    column-gap: 50px;
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.btn_primary {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #f8eebc, #89d7bb);
    padding: 1.5rem 2rem;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    box-shadow: 1px 10px 2rem rgba(94, 255, 212, 0.5);
    transition: all .2s ease-in;
    text-decoration: none;
}

.btn_primary:hover {
    box-shadow: 0px 5px 1rem rgba(173, 170, 170, 0.5);
}



