<form method="post" action="{{ path('app_categorie_delete', {'idCategorie': categorie.idCategorie}) }}" onsubmit="return confirm('Etes-vous sure de vouloir supprimer cette catégorie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.idCategorie) }}">
    <button class="btn btn-danger" style="display:block; margin: 0 auto;">Supprimer la Catégorie </button>
</form>
