{{ include('produit/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_produit_index') }}" class="btn rounded-pill btn-outline-info"> Retourner à la liste des Produits </a>
    {{ include('produit/_delete_form.html.twig') }}
