<form method="post" action="{{ path('app_produit_delete', {'idProduit': produit.idProduit}) }}" onsubmit="return confirm('Etes-vous sure de vouloir supprimer ce produit?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.idProduit) }}">
    <button class="btn btn-danger" style="display:block; margin: 0 auto;">Supprimer le Produit</button>
</form>
