<form method="post" action="{{ path('app_client_delete', {'idUser': client.idUser}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.idUser) }}">
    <button class="btn">Delete</button>
</form>
