<form method="post" action="{{ path('app_calendar_delete', {'title': calendar.title}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar.title) }}">
    <button class="btn">Delete</button>
</form>
