<form method="post" action="{{ path('app_detail_commande_delete', {'idElemc': detail_commande.idElemc}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ detail_commande.idElemc) }}">
    <button class="btn">Delete</button>
</form>
