{% extends 'basepanier.html.twig' %}

{% block title %}New PanierElem{% endblock %}

{% block content %}
    <h1>Create new PanierElem</h1>

    {{ include('panier_elem/_form.html.twig') }}

    <a href="{{ path('app_panier_elem_index') }}">back to list</a>
{% endblock %}
