{% extends 'base.html.twig' %}


{% block content %}
<br><br>

<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 
<div class="container" >
	<div class="row justify-content-center">
		<div class="col-md-5 col-md-offset-3">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h1><i class="fa fa-lock fa-4x" style="color:#43cdb1;"></i></h1>
                  <h5>Réinitialisation du mot de passe</h5>
                  <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
                  <div class="panel-body">
                        <form id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                 <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="password"  id="inputPassword" placeholder="Mot de passe" class="form-control"  type="password" required>
        <br>
        <input type="hidden" name="token" value="{{ token }}">
            <div class="form-group">
                        <button name="recover-submit" style=" background-color:#43cdb1; border-color:#43cdb1;" id="valider" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                        Valider le mot de passe
                        </button>
                      </div>
        
    </form>
                  
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>


<br><br>
{% endblock %}