
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
</style>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-panel w3-green">
  <h3>Thanks for your order!!!</h3>
  <p>We appreciate your business!
        If you have any questions, please email
        <a href="LevelUP@gmail.com">LevelUP@gmail.com</a></p>
</div>

<a href="{{ path('app_produit_index_front') }}" class="button button2" style="margin-left : 38px ; margin-top: 80px" >Continuer Mes Achats</a>
  